.App {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Menu */ 
/* ul.navbar {
  width: 100%;
  background-color: white;
  opacity: 0.9;
  display: inline-block;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

ul li.nav-link {
  color: black;
  display: inline-block;
  text-align: center;
  opacity: 0.8;
}

ul li.nav-link:hover {
  opacity: 1;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-link.dropdown {
  cursor: pointer;
}

.userButton {
  position: absolute;
  right: 0;
}

.userButton * {
  margin: 15px;
} */

.navbar > .navbar-branch > h3 {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-left: 20px;
}

.navbar > .navbar-branch > h3:hover {
  background-color: black;
  border-radius: 5px;
  color: white !important;
  padding: 10px;
  outline: none;
  text-decoration: none;
}

.header-bar .navbar-branch {
  text-decoration: none;
  outline: none;
} 

/* .navbar-branch > h3:hover {
  background-color: black;
  border-radius: 5px;
  color: white !important;
  padding: 10px;
  text-decoration: none;
} */

.navbar {
  /* background-color: rgb(26, 165, 219); */
  width: 100%;
  background-color: #fff;
  box-shadow:  2px 10px -2px rgba(0, 0, 0, 0.1);
  position: fixed;
  /* border-bottom: 0.1px solid rgb(26, 165, 219); */
  /* text-shadow: 2px 2px 7px black; */
}

.navbar li .nav-link {
  color: black !important;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar li .nav-link:hover {
  background-color: black;
  border-radius: 5px;
  color: white !important;
}

.dropdown h1 {
  font-size: 18px;
}

/* home */ 
.home-item-grid img {
  width: 600px;
  height: 400px;
}
.home-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #6acc00;
}

.home-item img {
  max-width: 600px;
  margin: 15px;
  padding: 0;
}
.home-item .detail-text {

  flex: 50%;
  align-items: center;
  font-size: x-large;
  max-width: 400px;
}

.detail-text {
  margin: auto;
  color: white;
}
.home-item img {
  flex: 50%;
  width: 50%;
  height: auto;
}

.home-item-grid {
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: auto 10px;
  gap: 40px;
  background-color: white;
}

.home-item-grid img {
  flex: 50%
}

.leaflet-container {
  width: 100%;
  height: 91vh
}



.intro {
  height: 400px;
  background-color: #6acc00;
}

/* Ads KD */ 
.home-item1 {
  display: grid;
  grid-template-areas: 
  'right left';
}
.detail-text-info {
  max-width: 400px;

}
.ads1, .ads2, .ads3 {
  height: 100px;
  text-align: center;
  border-radius: 0.5em;
  margin-top: 30px;
  line-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.ads1 {
  background-color: #6acc00;
  border: 1px solid #6acc00;
}

.ads2 {
  background-color: rgb(236, 156, 34);
  border: 1px solid rgb(236, 156, 34);
}

.ads3 {
  background-color: rgb(93, 170, 233);
  border: 1px solid rgb(93, 170, 233);
}
.ads {
  grid-area: right;
  margin: 100px 100px 100px 100px;
  height: 420px;
}

.detail-ads {
  max-width: fit-content;
  max-height: 220px;
  grid-area: left;
  margin-top: 200px;
}

.line, .line-1 {
  background-color: #6acc00;
  height: 1px;
  width: 320px;
}
.line-1 {
  padding: 0;
  margin-left: 0;
  width: 480px;
}


.titleAds {
  color: #6acc00;
}

.detail-text-ads {
  max-width: 600px;
  font-size: 14px;
}

/* Function */
.function1 {
  grid-area: left;
  padding-right: 0;
  margin-left: 100px;
}

.function2 {
  grid-area: right;
  margin-right: 100px;

}
.center-img {
  grid-area: center;
}
.title {
  text-align: center;
  grid-area: title;
  color: #6acc00;
  margin-top: 100px;
}
.home-item2 {
  display: grid;
  grid-template-areas: 
  'title title title'
  'left center right';
}
.center-img img {
  max-width: 500px;
  align-items: center;
  margin: 20px;
}
.func1-detail, .func2-detail {
  margin-bottom: 40px;
}
.func1-detail {
  text-align: right;
}
.top {
  margin-top: 50px;
}

/* Bio */
.info1 {
  grid-area: first-left;
}
.info2 {
  grid-area: second-right;
}
.info3 {
  grid-area: third-left;
}
.pic1 {
  grid-area: first-right;
}
.pic2 {
  grid-area: second-left;
}
.pic3 {
  grid-area: third-right;
}

.home-item3 {
  display: grid;
  grid-template-areas: 
  'first-left first-right'
  'second-left second-right'
  'third-left third-right';
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.pic1 img, .pic2 img, .pic3 img {
  max-width: 500px;
} 

.info1, .info2, .info3 {
  margin: auto;
}

/* Sign in */ 

/* .signin-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  filter: brightness(80%);
} */

.signin-section {
  width: 100%;
  height: 1000px; 
  background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
  display: block;
  z-index: -1;
}

.signin-section * {
  font-size: 22px;
}

.signin-section .container-fluid {
  display: flex;
  z-index: 1;
  position: relative;
  margin: 20px auto;
  top: 10%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  width: 150px;
  height: 150px;
}

.title {
  margin-top: 10px;
}

.icon {
  font-size: x-small;
  margin-right: 10px;
  margin-top: -3px;
}

.input-div {
  display: flex;
  margin-bottom: 20px;
}

.input-div * {
  font-size: 20px;
}

.div input {
  width: 210%;
}

.div input::placeholder{
  opacity: 0.5;
}

.name .div div, .pass .div div {
  display: flex;
  flex-direction: row;
}

.name .div div input:nth-child(2), .pass .div div input:nth-child(2) {
  margin-left: 20px;
}

.input {
  padding: 2px 0 2px 10px;
  height: 35px;
  font-size: smaller;
}

.input:focus {
  background-color: #84fb95;
  background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
}

input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}

.signupButton {
  margin-top: 20px;
  width: 100%;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #03e5b7;
  background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%); background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}

/* @media (max-width: 1000px) {
  .background-img {
    display: none;
  }

  .signin-content {
    position: absolute;
    margin: 50px auto;
    top: 80%;
    right: 50%;
    left: 50%;
  }

} */
/* maphome */
.mapView{
  display: grid;
  grid-template-columns: 30% 70%;
}
.sidebar{
  display: grid;
  grid-template-rows: 20% auto;
  margin-top: 60px;
}
.mapID{
  width: 100%;
  margin-top: 60px;
}
/* sidebar */
.option-menu{
  display: grid;
  grid-template-columns: 33.3% 33.3% auto;
  font-weight: 500;
  color: grey;
}
.content-sidebar{
  display: grid;
  grid-template-rows: 20% auto;
}
.content-sidebar .search{
  background-color: whitesmoke;
  padding-top: 3%;
}
.content-Info-station, .content-nearest-station, .content-louer{
  background-color: whitesmoke;
  height: 100%;
}
.content-Info-station{
  height: 59vh;
  overflow-y: scroll;
}
.Info-station{
  text-align: center;
  padding-top: 30%;
  background-color: whitesmoke;
  cursor: pointer;
}
.Find-nearestStation{
  text-align: center;
  padding-top: 28%;
  background-color: whitesmoke;
  cursor: pointer;
}
.Louer-Transport{
  text-align: center;
  padding-top: 30%;
  background-color: whitesmoke;
  cursor: pointer;
}
.option-menu .activate{
  color: #32be8f;
  border-bottom: solid .2em #32be8f;
}
.content-sidebar .searchBox-Trouver, .searchBox, .searchBox-Louer{
  width: 95%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  background-color: #fff;
  height: 2.7rem;
  padding: 18px;
  margin-left: 3%;
  margin-top: 3%;
}
.content-sidebar .searchBox{
  width: 80%;
  float: left;
}
.formGPS{
  flex-direction: row;
}
.content-sidebar .searchBox-Trouver, .searchBox, .searchBox-Louer{
  outline: none;
}
.station-name{
  display: grid;
  grid-template-columns: 30% 70%;
}
.image-station{
  text-align: center;
}
.image-station .Icon-bicycle{
  width: 80px;
  height: 60px;
}
.name-station{
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}
.Icon-Info-station, .Icon-Search, .Icon-Key, .Icon-gps {
  width: 50px;
  height: 35px;
  cursor: pointer;
}
.Icon-gps{
  margin-top: 3%;
}
/*Louer*/
.react-select__control{
  width: 95% !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15) !important;
  height: 2.7rem;
  margin-left: 3%;
  margin-top: 3%;
}
.react-select__menu {
  width: 95% !important;
  margin-left: 3%;
}

@media (max-width: 636px){
  .home-item {
    flex-direction: column;
  }

  .home-item img{
    margin: 0 auto;
  }

  .home-item-grid {
    display: flex;
    flex-direction: column;
  }

  .home-item-grid img {
    width: 400px;
    height: 200px;
  }
  
}
/* Louer */

/* User info */ 
.user-info-section {
  width: 100%;
  height: 1000px; 
  background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
  display: block;
  z-index: -1;
}

.user-info-section .container-fluid {
  display: flex;
  z-index: 1;
  position: relative;
  margin: 20px auto;
  top: 15%;
}

.user-info-box {
  width: 60%;
  height: 600px;
  background-color: white;
  border: 1px solid rgb(129, 214, 111);
  border-radius: 25px;
  /* position: absolute;
  left: 30%; */
  margin: 10px auto;
  background-image: url('./images/city.jpg');
  background-repeat: no-repeat;
  background-size: 100% 30%; 
  background-position: center top;
}

.user-info {
  display: flex;
  /* position: relative;
  top: 19%;
  left: 43%; */
  margin: 110px auto;
  flex-direction: column;
  align-items: center;
  margin: 12% auto;
}

.user-info .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info .avatar img {
  width: 75%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.info .area {
  width: 80%;
  margin: 0 auto  ;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.field {
  margin-left: 20%;
  margin-right: auto;
}

.data {
  margin-left: auto;
  margin-right: 20%;
}

.data h5 {
  
}

/* .field {
  font-weight: bold;
  font-size: large;
} */


/* About */
.about-item {
  margin-top: 70px;
  height: fit-content;
  margin-left: 200px;
  margin-right: 200px;
  display: grid;
  grid-template-areas: 
  'about-detail-1 about-title-2'
  'about-detail-1 about-detail-2';
}

.about-detail-1 {
  grid-area: about-detail-1;
}
.about-img1 img {
  max-width: 300px;
  grid-area: about-img-1;
}
.about-title-1 {
  margin-top: 100px;
  grid-area: about-title-1;
  margin-bottom: 50px;
  color: #6acc00;
  margin-left: 100px;
}
.about-title-2 {
  grid-area: about-title-2;
  max-width: 400px;
  height: fit-content;
  color: #6acc00;
  margin-left: 100px;

}
.about-detail-text-1, .about-detail-text-2{
  margin-top: 30px;
  text-align: justify;
  font-size: 13pt;
}
.about-detail-text-1 {
  margin-left: 100px;
}
.about-detail-text-2 {
  margin-right: 150px;
}

.about-line {
  margin-left: 100px;
  max-width: 300px;
}
.about-line2 {
  margin-right: 100px;
  max-width: 230px;
}
.about-item-2 {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  height: fit-content;
  display: grid;
  grid-template-areas:
  'about-title-3 about-title-3'
  'about-detail-3 about-detail-4';
}
.about-title-3 {
  grid-area: about-title-3;
  max-width: 400px;
  height: fit-content;
  color: #6acc00;
}

.about-img2 img {
  max-width: 300px;
  grid-area: about-img-2;
}
.about-item-3 {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  height: fit-content;
  display: grid;
  grid-template-areas:
  'about-title-4 about-title-4 about-title-4'
  'about-detail-text-3 about-detail-text-4 about-detail-text-5';
}

.about-detail-text-3, .about-detail-text-4, .about-detail-text-5{
  margin-top: 30px;
  text-align: justify;
  font-size: 13pt;
  max-width: 300px;
}
.about-detail-text-3 {
  grid-area: about-detail-text-3;
}

.about-detail-text-4{
  grid-area: about-detail-text-4;
}

.about-detail-text-5{
  grid-area: about-detail-text-5;
}
.about-title-4 {
  grid-area: about-title-4;
  max-width: 400px;
  height: fit-content;
  color: #6acc00;
}
.about-sub-title {
  color: #6acc00;
}
.about-line3 {
  margin-right: 100px;
  max-width: 230px;
}