.App {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Menu */ 
ul.navbar {
  width: 100%;
  background-color: #6acc00;
  opacity: 0.9;
  display: inline-block;
  text-align: center;
}

ul li.nav-link {
  color: white;
  display: inline-block;
  text-align: center;
  opacity: 0.8;
}

ul li.nav-link:hover {
  opacity: 1;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

/* home */ 
.home-item-grid img {
  width: 600px;
  height: 400px;
}
.home-item {
  display: flex;
  flex-wrap: wrap;
}
.home-item .detail-text {
  padding: 5%;
  flex: 50%;
  align-items: center;
  font-size: x-large;
}

.home-item img {
  flex: 50%;
  width: 50%;
  height: auto;
}

.home-item-grid {
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: auto 10px;
  gap: 40px;
  background-color: white;
}

.home-item-grid img {
  flex: 50%
}

@media (max-width: 636px){
  .home-item {
    flex-direction: column;
  }

  .home-item img{
    margin: 0 auto;
  }

  .home-item-grid {
    display: flex;
    flex-direction: column;
  }

  .home-item-grid img {
    width: 400px;
    height: 200px;
  }
}